<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsoft.gkzp.system.sysuser.dao.SysUserDao" >

    <!--动态sql使用可参照：http://www.mybatis.org/mybatis-3/zh/dynamic-sql.html#-->

    <select id="login" resultType="com.nsoft.gkzp.system.sysuser.entity.SysUser">
        select * from sys_user
        <where>
            <if test="loginName != null">
                 loginname =#{loginName}
            </if>
            <if test="password != null">
                and Password=#{password}
            </if>
        </where>
    </select>

    <select id="findIdByColumn" resultType="int" >
        select id from sys_user
        where ${column} = #{value}
    </select>

    <insert id="saveRegister"  >
       insert into sys_user(loginname,password) values(#{loginName},#{password})
    </insert>

    <update id="changePWD" >
        update sys_user set password = #{password} where id = #{id}
    </update>


    <select id="getUserInfos" resultType="java.util.HashMap">
        select k.id,k.loginName,t.name,t.Gender,RIGHT(IDCardNo,4) IDCardNo
        from   sys_user k
        left join HR_Recruit_entryInfo_base t  on t.IsNewest=1 and k.id = t.loginUserId
        where k.nstatusid =1
    </select>











    <resultMap id="userMap" type="com.nsoft.gkzp.system.sysuser.entity.SysUser">
        <result property="userName" column="username"/>
    </resultMap>
    <select id="selectUsers" resultMap="userMap">
        SELECT * FROM sys_User
    </select>



</mapper>