<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrRecruitEntryinfoBaseMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoBase">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PlanID" jdbcType="INTEGER" property="planid" />
    <result column="PostID" jdbcType="INTEGER" property="postid" />
    <result column="PostTypeID" jdbcType="INTEGER" property="posttypeid" />
    <result column="HeadImage" jdbcType="INTEGER" property="headimage" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDCardNo" jdbcType="NVARCHAR" property="idcardno" />
    <result column="Nation" jdbcType="INTEGER" property="nation" />
    <result column="Politics" jdbcType="INTEGER" property="politics" />
    <result column="BirthDate" jdbcType="NVARCHAR" property="birthdate" />
    <result column="MaritalStatus" jdbcType="INTEGER" property="maritalstatus" />
    <result column="NativePlace" jdbcType="NVARCHAR" property="nativeplace" />
    <result column="Faith" jdbcType="NVARCHAR" property="faith" />
    <result column="Height" jdbcType="NVARCHAR" property="height" />
    <result column="FullTimeSchooling" jdbcType="NVARCHAR" property="fulltimeschooling" />
    <result column="Degrees1" jdbcType="NVARCHAR" property="degrees1" />
    <result column="InServiceEdu" jdbcType="NVARCHAR" property="inserviceedu" />
    <result column="Degrees2" jdbcType="NVARCHAR" property="degrees2" />
    <result column="Speciality" jdbcType="NVARCHAR" property="speciality" />
    <result column="WorkingYears" jdbcType="INTEGER" property="workingyears" />
    <result column="CertifiedInfo1" jdbcType="NVARCHAR" property="certifiedinfo1" />
    <result column="CertifiedInfo2" jdbcType="NVARCHAR" property="certifiedinfo2" />
    <result column="IsObey" jdbcType="INTEGER" property="isobey" />
    <result column="IsInternalStaff" jdbcType="INTEGER" property="isinternalstaff" />
    <result column="IsNewest" jdbcType="INTEGER" property="isnewest" />
    <result column="SubmitMan" jdbcType="NVARCHAR" property="submitman" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PlanID, PostID, PostTypeID, HeadImage, Name, Gender, IDCardNo, Nation, Politics, 
    BirthDate, MaritalStatus, NativePlace, Faith, Height, FullTimeSchooling, Degrees1, 
    InServiceEdu, Degrees2, Speciality, WorkingYears, CertifiedInfo1, CertifiedInfo2, 
    IsObey, IsInternalStaff, IsNewest, SubmitMan, SubmitTime, ModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_base
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_base
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    insert into HR_Recruit_entryInfo_base (ID, PlanID, PostID, 
      PostTypeID, HeadImage, Name, 
      Gender, IDCardNo, Nation, 
      Politics, BirthDate, MaritalStatus, 
      NativePlace, Faith, Height, 
      FullTimeSchooling, Degrees1, InServiceEdu, 
      Degrees2, Speciality, WorkingYears, 
      CertifiedInfo1, CertifiedInfo2, IsObey, 
      IsInternalStaff, IsNewest, SubmitMan, 
      SubmitTime, ModifyTime)
    values (#{id,jdbcType=INTEGER}, #{planid,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, 
      #{posttypeid,jdbcType=INTEGER}, #{headimage,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{idcardno,jdbcType=NVARCHAR}, #{nation,jdbcType=INTEGER}, 
      #{politics,jdbcType=INTEGER}, #{birthdate,jdbcType=NVARCHAR}, #{maritalstatus,jdbcType=INTEGER}, 
      #{nativeplace,jdbcType=NVARCHAR}, #{faith,jdbcType=NVARCHAR}, #{height,jdbcType=NVARCHAR}, 
      #{fulltimeschooling,jdbcType=NVARCHAR}, #{degrees1,jdbcType=NVARCHAR}, #{inserviceedu,jdbcType=NVARCHAR}, 
      #{degrees2,jdbcType=NVARCHAR}, #{speciality,jdbcType=NVARCHAR}, #{workingyears,jdbcType=INTEGER}, 
      #{certifiedinfo1,jdbcType=NVARCHAR}, #{certifiedinfo2,jdbcType=NVARCHAR}, #{isobey,jdbcType=INTEGER}, 
      #{isinternalstaff,jdbcType=INTEGER}, #{isnewest,jdbcType=INTEGER}, #{submitman,jdbcType=NVARCHAR}, 
      #{submittime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    insert into HR_Recruit_entryInfo_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planid != null">
        PlanID,
      </if>
      <if test="postid != null">
        PostID,
      </if>
      <if test="posttypeid != null">
        PostTypeID,
      </if>
      <if test="headimage != null">
        HeadImage,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="idcardno != null">
        IDCardNo,
      </if>
      <if test="nation != null">
        Nation,
      </if>
      <if test="politics != null">
        Politics,
      </if>
      <if test="birthdate != null">
        BirthDate,
      </if>
      <if test="maritalstatus != null">
        MaritalStatus,
      </if>
      <if test="nativeplace != null">
        NativePlace,
      </if>
      <if test="faith != null">
        Faith,
      </if>
      <if test="height != null">
        Height,
      </if>
      <if test="fulltimeschooling != null">
        FullTimeSchooling,
      </if>
      <if test="degrees1 != null">
        Degrees1,
      </if>
      <if test="inserviceedu != null">
        InServiceEdu,
      </if>
      <if test="degrees2 != null">
        Degrees2,
      </if>
      <if test="speciality != null">
        Speciality,
      </if>
      <if test="workingyears != null">
        WorkingYears,
      </if>
      <if test="certifiedinfo1 != null">
        CertifiedInfo1,
      </if>
      <if test="certifiedinfo2 != null">
        CertifiedInfo2,
      </if>
      <if test="isobey != null">
        IsObey,
      </if>
      <if test="isinternalstaff != null">
        IsInternalStaff,
      </if>
      <if test="isnewest != null">
        IsNewest,
      </if>
      <if test="submitman != null">
        SubmitMan,
      </if>
      <if test="submittime != null">
        SubmitTime,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planid != null">
        #{planid,jdbcType=INTEGER},
      </if>
      <if test="postid != null">
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="posttypeid != null">
        #{posttypeid,jdbcType=INTEGER},
      </if>
      <if test="headimage != null">
        #{headimage,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        #{idcardno,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="politics != null">
        #{politics,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=NVARCHAR},
      </if>
      <if test="maritalstatus != null">
        #{maritalstatus,jdbcType=INTEGER},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=NVARCHAR},
      </if>
      <if test="faith != null">
        #{faith,jdbcType=NVARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=NVARCHAR},
      </if>
      <if test="fulltimeschooling != null">
        #{fulltimeschooling,jdbcType=NVARCHAR},
      </if>
      <if test="degrees1 != null">
        #{degrees1,jdbcType=NVARCHAR},
      </if>
      <if test="inserviceedu != null">
        #{inserviceedu,jdbcType=NVARCHAR},
      </if>
      <if test="degrees2 != null">
        #{degrees2,jdbcType=NVARCHAR},
      </if>
      <if test="speciality != null">
        #{speciality,jdbcType=NVARCHAR},
      </if>
      <if test="workingyears != null">
        #{workingyears,jdbcType=INTEGER},
      </if>
      <if test="certifiedinfo1 != null">
        #{certifiedinfo1,jdbcType=NVARCHAR},
      </if>
      <if test="certifiedinfo2 != null">
        #{certifiedinfo2,jdbcType=NVARCHAR},
      </if>
      <if test="isobey != null">
        #{isobey,jdbcType=INTEGER},
      </if>
      <if test="isinternalstaff != null">
        #{isinternalstaff,jdbcType=INTEGER},
      </if>
      <if test="isnewest != null">
        #{isnewest,jdbcType=INTEGER},
      </if>
      <if test="submitman != null">
        #{submitman,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    update HR_Recruit_entryInfo_base
    <set>
      <if test="planid != null">
        PlanID = #{planid,jdbcType=INTEGER},
      </if>
      <if test="postid != null">
        PostID = #{postid,jdbcType=INTEGER},
      </if>
      <if test="posttypeid != null">
        PostTypeID = #{posttypeid,jdbcType=INTEGER},
      </if>
      <if test="headimage != null">
        HeadImage = #{headimage,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        IDCardNo = #{idcardno,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        Nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="politics != null">
        Politics = #{politics,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        BirthDate = #{birthdate,jdbcType=NVARCHAR},
      </if>
      <if test="maritalstatus != null">
        MaritalStatus = #{maritalstatus,jdbcType=INTEGER},
      </if>
      <if test="nativeplace != null">
        NativePlace = #{nativeplace,jdbcType=NVARCHAR},
      </if>
      <if test="faith != null">
        Faith = #{faith,jdbcType=NVARCHAR},
      </if>
      <if test="height != null">
        Height = #{height,jdbcType=NVARCHAR},
      </if>
      <if test="fulltimeschooling != null">
        FullTimeSchooling = #{fulltimeschooling,jdbcType=NVARCHAR},
      </if>
      <if test="degrees1 != null">
        Degrees1 = #{degrees1,jdbcType=NVARCHAR},
      </if>
      <if test="inserviceedu != null">
        InServiceEdu = #{inserviceedu,jdbcType=NVARCHAR},
      </if>
      <if test="degrees2 != null">
        Degrees2 = #{degrees2,jdbcType=NVARCHAR},
      </if>
      <if test="speciality != null">
        Speciality = #{speciality,jdbcType=NVARCHAR},
      </if>
      <if test="workingyears != null">
        WorkingYears = #{workingyears,jdbcType=INTEGER},
      </if>
      <if test="certifiedinfo1 != null">
        CertifiedInfo1 = #{certifiedinfo1,jdbcType=NVARCHAR},
      </if>
      <if test="certifiedinfo2 != null">
        CertifiedInfo2 = #{certifiedinfo2,jdbcType=NVARCHAR},
      </if>
      <if test="isobey != null">
        IsObey = #{isobey,jdbcType=INTEGER},
      </if>
      <if test="isinternalstaff != null">
        IsInternalStaff = #{isinternalstaff,jdbcType=INTEGER},
      </if>
      <if test="isnewest != null">
        IsNewest = #{isnewest,jdbcType=INTEGER},
      </if>
      <if test="submitman != null">
        SubmitMan = #{submitman,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    update HR_Recruit_entryInfo_base
    set PlanID = #{planid,jdbcType=INTEGER},
      PostID = #{postid,jdbcType=INTEGER},
      PostTypeID = #{posttypeid,jdbcType=INTEGER},
      HeadImage = #{headimage,jdbcType=INTEGER},
      Name = #{name,jdbcType=NVARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDCardNo = #{idcardno,jdbcType=NVARCHAR},
      Nation = #{nation,jdbcType=INTEGER},
      Politics = #{politics,jdbcType=INTEGER},
      BirthDate = #{birthdate,jdbcType=NVARCHAR},
      MaritalStatus = #{maritalstatus,jdbcType=INTEGER},
      NativePlace = #{nativeplace,jdbcType=NVARCHAR},
      Faith = #{faith,jdbcType=NVARCHAR},
      Height = #{height,jdbcType=NVARCHAR},
      FullTimeSchooling = #{fulltimeschooling,jdbcType=NVARCHAR},
      Degrees1 = #{degrees1,jdbcType=NVARCHAR},
      InServiceEdu = #{inserviceedu,jdbcType=NVARCHAR},
      Degrees2 = #{degrees2,jdbcType=NVARCHAR},
      Speciality = #{speciality,jdbcType=NVARCHAR},
      WorkingYears = #{workingyears,jdbcType=INTEGER},
      CertifiedInfo1 = #{certifiedinfo1,jdbcType=NVARCHAR},
      CertifiedInfo2 = #{certifiedinfo2,jdbcType=NVARCHAR},
      IsObey = #{isobey,jdbcType=INTEGER},
      IsInternalStaff = #{isinternalstaff,jdbcType=INTEGER},
      IsNewest = #{isnewest,jdbcType=INTEGER},
      SubmitMan = #{submitman,jdbcType=NVARCHAR},
      SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoBase">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PlanID" jdbcType="INTEGER" property="planid" />
    <result column="PostID" jdbcType="INTEGER" property="postid" />
    <result column="PostTypeID" jdbcType="INTEGER" property="posttypeid" />
    <result column="HeadImage" jdbcType="INTEGER" property="headimage" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDCardNo" jdbcType="NVARCHAR" property="idcardno" />
    <result column="Nation" jdbcType="INTEGER" property="nation" />
    <result column="Politics" jdbcType="INTEGER" property="politics" />
    <result column="BirthDate" jdbcType="NVARCHAR" property="birthdate" />
    <result column="MaritalStatus" jdbcType="INTEGER" property="maritalstatus" />
    <result column="NativePlace" jdbcType="NVARCHAR" property="nativeplace" />
    <result column="Faith" jdbcType="NVARCHAR" property="faith" />
    <result column="Height" jdbcType="NVARCHAR" property="height" />
    <result column="FullTimeSchooling" jdbcType="NVARCHAR" property="fulltimeschooling" />
    <result column="Degrees1" jdbcType="NVARCHAR" property="degrees1" />
    <result column="InServiceEdu" jdbcType="NVARCHAR" property="inserviceedu" />
    <result column="Degrees2" jdbcType="NVARCHAR" property="degrees2" />
    <result column="Speciality" jdbcType="NVARCHAR" property="speciality" />
    <result column="WorkingYears" jdbcType="INTEGER" property="workingyears" />
    <result column="CertifiedInfo1" jdbcType="NVARCHAR" property="certifiedinfo1" />
    <result column="CertifiedInfo2" jdbcType="NVARCHAR" property="certifiedinfo2" />
    <result column="IsObey" jdbcType="INTEGER" property="isobey" />
    <result column="IsInternalStaff" jdbcType="INTEGER" property="isinternalstaff" />
    <result column="IsNewest" jdbcType="INTEGER" property="isnewest" />
    <result column="SubmitMan" jdbcType="NVARCHAR" property="submitman" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PlanID, PostID, PostTypeID, HeadImage, Name, Gender, IDCardNo, Nation, Politics, 
    BirthDate, MaritalStatus, NativePlace, Faith, Height, FullTimeSchooling, Degrees1, 
    InServiceEdu, Degrees2, Speciality, WorkingYears, CertifiedInfo1, CertifiedInfo2, 
    IsObey, IsInternalStaff, IsNewest, SubmitMan, SubmitTime, ModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_base
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_base
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    insert into HR_Recruit_entryInfo_base (ID, PlanID, PostID, 
      PostTypeID, HeadImage, Name, 
      Gender, IDCardNo, Nation, 
      Politics, BirthDate, MaritalStatus, 
      NativePlace, Faith, Height, 
      FullTimeSchooling, Degrees1, InServiceEdu, 
      Degrees2, Speciality, WorkingYears, 
      CertifiedInfo1, CertifiedInfo2, IsObey, 
      IsInternalStaff, IsNewest, SubmitMan, 
      SubmitTime, ModifyTime)
    values (#{id,jdbcType=INTEGER}, #{planid,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, 
      #{posttypeid,jdbcType=INTEGER}, #{headimage,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{idcardno,jdbcType=NVARCHAR}, #{nation,jdbcType=INTEGER}, 
      #{politics,jdbcType=INTEGER}, #{birthdate,jdbcType=NVARCHAR}, #{maritalstatus,jdbcType=INTEGER}, 
      #{nativeplace,jdbcType=NVARCHAR}, #{faith,jdbcType=NVARCHAR}, #{height,jdbcType=NVARCHAR}, 
      #{fulltimeschooling,jdbcType=NVARCHAR}, #{degrees1,jdbcType=NVARCHAR}, #{inserviceedu,jdbcType=NVARCHAR}, 
      #{degrees2,jdbcType=NVARCHAR}, #{speciality,jdbcType=NVARCHAR}, #{workingyears,jdbcType=INTEGER}, 
      #{certifiedinfo1,jdbcType=NVARCHAR}, #{certifiedinfo2,jdbcType=NVARCHAR}, #{isobey,jdbcType=INTEGER}, 
      #{isinternalstaff,jdbcType=INTEGER}, #{isnewest,jdbcType=INTEGER}, #{submitman,jdbcType=NVARCHAR}, 
      #{submittime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    insert into HR_Recruit_entryInfo_base
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planid != null">
        PlanID,
      </if>
      <if test="postid != null">
        PostID,
      </if>
      <if test="posttypeid != null">
        PostTypeID,
      </if>
      <if test="headimage != null">
        HeadImage,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="idcardno != null">
        IDCardNo,
      </if>
      <if test="nation != null">
        Nation,
      </if>
      <if test="politics != null">
        Politics,
      </if>
      <if test="birthdate != null">
        BirthDate,
      </if>
      <if test="maritalstatus != null">
        MaritalStatus,
      </if>
      <if test="nativeplace != null">
        NativePlace,
      </if>
      <if test="faith != null">
        Faith,
      </if>
      <if test="height != null">
        Height,
      </if>
      <if test="fulltimeschooling != null">
        FullTimeSchooling,
      </if>
      <if test="degrees1 != null">
        Degrees1,
      </if>
      <if test="inserviceedu != null">
        InServiceEdu,
      </if>
      <if test="degrees2 != null">
        Degrees2,
      </if>
      <if test="speciality != null">
        Speciality,
      </if>
      <if test="workingyears != null">
        WorkingYears,
      </if>
      <if test="certifiedinfo1 != null">
        CertifiedInfo1,
      </if>
      <if test="certifiedinfo2 != null">
        CertifiedInfo2,
      </if>
      <if test="isobey != null">
        IsObey,
      </if>
      <if test="isinternalstaff != null">
        IsInternalStaff,
      </if>
      <if test="isnewest != null">
        IsNewest,
      </if>
      <if test="submitman != null">
        SubmitMan,
      </if>
      <if test="submittime != null">
        SubmitTime,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planid != null">
        #{planid,jdbcType=INTEGER},
      </if>
      <if test="postid != null">
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="posttypeid != null">
        #{posttypeid,jdbcType=INTEGER},
      </if>
      <if test="headimage != null">
        #{headimage,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        #{idcardno,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="politics != null">
        #{politics,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        #{birthdate,jdbcType=NVARCHAR},
      </if>
      <if test="maritalstatus != null">
        #{maritalstatus,jdbcType=INTEGER},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=NVARCHAR},
      </if>
      <if test="faith != null">
        #{faith,jdbcType=NVARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=NVARCHAR},
      </if>
      <if test="fulltimeschooling != null">
        #{fulltimeschooling,jdbcType=NVARCHAR},
      </if>
      <if test="degrees1 != null">
        #{degrees1,jdbcType=NVARCHAR},
      </if>
      <if test="inserviceedu != null">
        #{inserviceedu,jdbcType=NVARCHAR},
      </if>
      <if test="degrees2 != null">
        #{degrees2,jdbcType=NVARCHAR},
      </if>
      <if test="speciality != null">
        #{speciality,jdbcType=NVARCHAR},
      </if>
      <if test="workingyears != null">
        #{workingyears,jdbcType=INTEGER},
      </if>
      <if test="certifiedinfo1 != null">
        #{certifiedinfo1,jdbcType=NVARCHAR},
      </if>
      <if test="certifiedinfo2 != null">
        #{certifiedinfo2,jdbcType=NVARCHAR},
      </if>
      <if test="isobey != null">
        #{isobey,jdbcType=INTEGER},
      </if>
      <if test="isinternalstaff != null">
        #{isinternalstaff,jdbcType=INTEGER},
      </if>
      <if test="isnewest != null">
        #{isnewest,jdbcType=INTEGER},
      </if>
      <if test="submitman != null">
        #{submitman,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    update HR_Recruit_entryInfo_base
    <set>
      <if test="planid != null">
        PlanID = #{planid,jdbcType=INTEGER},
      </if>
      <if test="postid != null">
        PostID = #{postid,jdbcType=INTEGER},
      </if>
      <if test="posttypeid != null">
        PostTypeID = #{posttypeid,jdbcType=INTEGER},
      </if>
      <if test="headimage != null">
        HeadImage = #{headimage,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="idcardno != null">
        IDCardNo = #{idcardno,jdbcType=NVARCHAR},
      </if>
      <if test="nation != null">
        Nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="politics != null">
        Politics = #{politics,jdbcType=INTEGER},
      </if>
      <if test="birthdate != null">
        BirthDate = #{birthdate,jdbcType=NVARCHAR},
      </if>
      <if test="maritalstatus != null">
        MaritalStatus = #{maritalstatus,jdbcType=INTEGER},
      </if>
      <if test="nativeplace != null">
        NativePlace = #{nativeplace,jdbcType=NVARCHAR},
      </if>
      <if test="faith != null">
        Faith = #{faith,jdbcType=NVARCHAR},
      </if>
      <if test="height != null">
        Height = #{height,jdbcType=NVARCHAR},
      </if>
      <if test="fulltimeschooling != null">
        FullTimeSchooling = #{fulltimeschooling,jdbcType=NVARCHAR},
      </if>
      <if test="degrees1 != null">
        Degrees1 = #{degrees1,jdbcType=NVARCHAR},
      </if>
      <if test="inserviceedu != null">
        InServiceEdu = #{inserviceedu,jdbcType=NVARCHAR},
      </if>
      <if test="degrees2 != null">
        Degrees2 = #{degrees2,jdbcType=NVARCHAR},
      </if>
      <if test="speciality != null">
        Speciality = #{speciality,jdbcType=NVARCHAR},
      </if>
      <if test="workingyears != null">
        WorkingYears = #{workingyears,jdbcType=INTEGER},
      </if>
      <if test="certifiedinfo1 != null">
        CertifiedInfo1 = #{certifiedinfo1,jdbcType=NVARCHAR},
      </if>
      <if test="certifiedinfo2 != null">
        CertifiedInfo2 = #{certifiedinfo2,jdbcType=NVARCHAR},
      </if>
      <if test="isobey != null">
        IsObey = #{isobey,jdbcType=INTEGER},
      </if>
      <if test="isinternalstaff != null">
        IsInternalStaff = #{isinternalstaff,jdbcType=INTEGER},
      </if>
      <if test="isnewest != null">
        IsNewest = #{isnewest,jdbcType=INTEGER},
      </if>
      <if test="submitman != null">
        SubmitMan = #{submitman,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoBase">
    update HR_Recruit_entryInfo_base
    set PlanID = #{planid,jdbcType=INTEGER},
      PostID = #{postid,jdbcType=INTEGER},
      PostTypeID = #{posttypeid,jdbcType=INTEGER},
      HeadImage = #{headimage,jdbcType=INTEGER},
      Name = #{name,jdbcType=NVARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDCardNo = #{idcardno,jdbcType=NVARCHAR},
      Nation = #{nation,jdbcType=INTEGER},
      Politics = #{politics,jdbcType=INTEGER},
      BirthDate = #{birthdate,jdbcType=NVARCHAR},
      MaritalStatus = #{maritalstatus,jdbcType=INTEGER},
      NativePlace = #{nativeplace,jdbcType=NVARCHAR},
      Faith = #{faith,jdbcType=NVARCHAR},
      Height = #{height,jdbcType=NVARCHAR},
      FullTimeSchooling = #{fulltimeschooling,jdbcType=NVARCHAR},
      Degrees1 = #{degrees1,jdbcType=NVARCHAR},
      InServiceEdu = #{inserviceedu,jdbcType=NVARCHAR},
      Degrees2 = #{degrees2,jdbcType=NVARCHAR},
      Speciality = #{speciality,jdbcType=NVARCHAR},
      WorkingYears = #{workingyears,jdbcType=INTEGER},
      CertifiedInfo1 = #{certifiedinfo1,jdbcType=NVARCHAR},
      CertifiedInfo2 = #{certifiedinfo2,jdbcType=NVARCHAR},
      IsObey = #{isobey,jdbcType=INTEGER},
      IsInternalStaff = #{isinternalstaff,jdbcType=INTEGER},
      IsNewest = #{isnewest,jdbcType=INTEGER},
      SubmitMan = #{submitman,jdbcType=NVARCHAR},
      SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>