<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrRecruitEntryinfoFamilyMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoFamily">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BaseID" jdbcType="INTEGER" property="baseid" />
    <result column="Appellation" jdbcType="NVARCHAR" property="appellation" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Age" jdbcType="NVARCHAR" property="age" />
    <result column="Politics" jdbcType="INTEGER" property="politics" />
    <result column="UnitsAndPost" jdbcType="NVARCHAR" property="unitsandpost" />
    <result column="Telephone" jdbcType="NVARCHAR" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BaseID, Appellation, Name, Age, Politics, UnitsAndPost, Telephone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_family
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_family
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    insert into HR_Recruit_entryInfo_family (ID, BaseID, Appellation, 
      Name, Age, Politics, 
      UnitsAndPost, Telephone)
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{appellation,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{age,jdbcType=NVARCHAR}, #{politics,jdbcType=INTEGER}, 
      #{unitsandpost,jdbcType=NVARCHAR}, #{telephone,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    insert into HR_Recruit_entryInfo_family
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="baseid != null">
        BaseID,
      </if>
      <if test="appellation != null">
        Appellation,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="politics != null">
        Politics,
      </if>
      <if test="unitsandpost != null">
        UnitsAndPost,
      </if>
      <if test="telephone != null">
        Telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        #{appellation,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=NVARCHAR},
      </if>
      <if test="politics != null">
        #{politics,jdbcType=INTEGER},
      </if>
      <if test="unitsandpost != null">
        #{unitsandpost,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    update HR_Recruit_entryInfo_family
    <set>
      <if test="baseid != null">
        BaseID = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        Appellation = #{appellation,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=NVARCHAR},
      </if>
      <if test="politics != null">
        Politics = #{politics,jdbcType=INTEGER},
      </if>
      <if test="unitsandpost != null">
        UnitsAndPost = #{unitsandpost,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null">
        Telephone = #{telephone,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    update HR_Recruit_entryInfo_family
    set BaseID = #{baseid,jdbcType=INTEGER},
      Appellation = #{appellation,jdbcType=NVARCHAR},
      Name = #{name,jdbcType=NVARCHAR},
      Age = #{age,jdbcType=NVARCHAR},
      Politics = #{politics,jdbcType=INTEGER},
      UnitsAndPost = #{unitsandpost,jdbcType=NVARCHAR},
      Telephone = #{telephone,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoFamily">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BaseID" jdbcType="INTEGER" property="baseid" />
    <result column="Appellation" jdbcType="NVARCHAR" property="appellation" />
    <result column="Name" jdbcType="NVARCHAR" property="name" />
    <result column="Age" jdbcType="NVARCHAR" property="age" />
    <result column="Politics" jdbcType="INTEGER" property="politics" />
    <result column="UnitsAndPost" jdbcType="NVARCHAR" property="unitsandpost" />
    <result column="Telephone" jdbcType="NVARCHAR" property="telephone" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BaseID, Appellation, Name, Age, Politics, UnitsAndPost, Telephone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_family
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_family
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    insert into HR_Recruit_entryInfo_family (ID, BaseID, Appellation, 
      Name, Age, Politics, 
      UnitsAndPost, Telephone)
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{appellation,jdbcType=NVARCHAR}, 
      #{name,jdbcType=NVARCHAR}, #{age,jdbcType=NVARCHAR}, #{politics,jdbcType=INTEGER}, 
      #{unitsandpost,jdbcType=NVARCHAR}, #{telephone,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    insert into HR_Recruit_entryInfo_family
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="baseid != null">
        BaseID,
      </if>
      <if test="appellation != null">
        Appellation,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="politics != null">
        Politics,
      </if>
      <if test="unitsandpost != null">
        UnitsAndPost,
      </if>
      <if test="telephone != null">
        Telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        #{appellation,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=NVARCHAR},
      </if>
      <if test="politics != null">
        #{politics,jdbcType=INTEGER},
      </if>
      <if test="unitsandpost != null">
        #{unitsandpost,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    update HR_Recruit_entryInfo_family
    <set>
      <if test="baseid != null">
        BaseID = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="appellation != null">
        Appellation = #{appellation,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=NVARCHAR},
      </if>
      <if test="politics != null">
        Politics = #{politics,jdbcType=INTEGER},
      </if>
      <if test="unitsandpost != null">
        UnitsAndPost = #{unitsandpost,jdbcType=NVARCHAR},
      </if>
      <if test="telephone != null">
        Telephone = #{telephone,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoFamily">
    update HR_Recruit_entryInfo_family
    set BaseID = #{baseid,jdbcType=INTEGER},
      Appellation = #{appellation,jdbcType=NVARCHAR},
      Name = #{name,jdbcType=NVARCHAR},
      Age = #{age,jdbcType=NVARCHAR},
      Politics = #{politics,jdbcType=INTEGER},
      UnitsAndPost = #{unitsandpost,jdbcType=NVARCHAR},
      Telephone = #{telephone,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>