<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrPostTypeMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrPostType">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TypeName" jdbcType="NVARCHAR" property="typename" />
    <result column="TypeOrder" jdbcType="INTEGER" property="typeorder" />
    <result column="TypeRemark" jdbcType="NVARCHAR" property="typeremark" />
    <result column="TypeParent" jdbcType="NVARCHAR" property="typeparent" />
    <result column="TypeString" jdbcType="NVARCHAR" property="typestring" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TypeName, TypeOrder, TypeRemark, TypeParent, TypeString
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Post_Type
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Post_Type
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrPostType">
    insert into HR_Post_Type (ID, TypeName, TypeOrder, 
      TypeRemark, TypeParent, TypeString
      )
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=NVARCHAR}, #{typeorder,jdbcType=INTEGER}, 
      #{typeremark,jdbcType=NVARCHAR}, #{typeparent,jdbcType=NVARCHAR}, #{typestring,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrPostType">
    insert into HR_Post_Type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="typename != null">
        TypeName,
      </if>
      <if test="typeorder != null">
        TypeOrder,
      </if>
      <if test="typeremark != null">
        TypeRemark,
      </if>
      <if test="typeparent != null">
        TypeParent,
      </if>
      <if test="typestring != null">
        TypeString,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=NVARCHAR},
      </if>
      <if test="typeorder != null">
        #{typeorder,jdbcType=INTEGER},
      </if>
      <if test="typeremark != null">
        #{typeremark,jdbcType=NVARCHAR},
      </if>
      <if test="typeparent != null">
        #{typeparent,jdbcType=NVARCHAR},
      </if>
      <if test="typestring != null">
        #{typestring,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrPostType">
    update HR_Post_Type
    <set>
      <if test="typename != null">
        TypeName = #{typename,jdbcType=NVARCHAR},
      </if>
      <if test="typeorder != null">
        TypeOrder = #{typeorder,jdbcType=INTEGER},
      </if>
      <if test="typeremark != null">
        TypeRemark = #{typeremark,jdbcType=NVARCHAR},
      </if>
      <if test="typeparent != null">
        TypeParent = #{typeparent,jdbcType=NVARCHAR},
      </if>
      <if test="typestring != null">
        TypeString = #{typestring,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrPostType">
    update HR_Post_Type
    set TypeName = #{typename,jdbcType=NVARCHAR},
      TypeOrder = #{typeorder,jdbcType=INTEGER},
      TypeRemark = #{typeremark,jdbcType=NVARCHAR},
      TypeParent = #{typeparent,jdbcType=NVARCHAR},
      TypeString = #{typestring,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>