<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrRecruitEntryinfoEducationMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoEducation">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BaseID" jdbcType="INTEGER" property="baseid" />
    <result column="Duration" jdbcType="NVARCHAR" property="duration" />
    <result column="TrainingAgency" jdbcType="NVARCHAR" property="trainingagency" />
    <result column="Major" jdbcType="NVARCHAR" property="major" />
    <result column="InForm" jdbcType="NVARCHAR" property="inform" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BaseID, Duration, TrainingAgency, Major, InForm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education (ID, BaseID, Duration, 
      TrainingAgency, Major, InForm
      )
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{duration,jdbcType=NVARCHAR}, 
      #{trainingagency,jdbcType=NVARCHAR}, #{major,jdbcType=NVARCHAR}, #{inform,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="baseid != null">
        BaseID,
      </if>
      <if test="duration != null">
        Duration,
      </if>
      <if test="trainingagency != null">
        TrainingAgency,
      </if>
      <if test="major != null">
        Major,
      </if>
      <if test="inform != null">
        InForm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        #{inform,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    <set>
      <if test="baseid != null">
        BaseID = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        Duration = #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        Major = #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        InForm = #{inform,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    set BaseID = #{baseid,jdbcType=INTEGER},
      Duration = #{duration,jdbcType=NVARCHAR},
      TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      Major = #{major,jdbcType=NVARCHAR},
      InForm = #{inform,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoEducation">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BaseID" jdbcType="INTEGER" property="baseid" />
    <result column="Duration" jdbcType="NVARCHAR" property="duration" />
    <result column="TrainingAgency" jdbcType="NVARCHAR" property="trainingagency" />
    <result column="Major" jdbcType="NVARCHAR" property="major" />
    <result column="InForm" jdbcType="NVARCHAR" property="inform" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BaseID, Duration, TrainingAgency, Major, InForm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education (ID, BaseID, Duration, 
      TrainingAgency, Major, InForm
      )
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{duration,jdbcType=NVARCHAR}, 
      #{trainingagency,jdbcType=NVARCHAR}, #{major,jdbcType=NVARCHAR}, #{inform,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="baseid != null">
        BaseID,
      </if>
      <if test="duration != null">
        Duration,
      </if>
      <if test="trainingagency != null">
        TrainingAgency,
      </if>
      <if test="major != null">
        Major,
      </if>
      <if test="inform != null">
        InForm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        #{inform,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    <set>
      <if test="baseid != null">
        BaseID = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        Duration = #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        Major = #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        InForm = #{inform,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    set BaseID = #{baseid,jdbcType=INTEGER},
      Duration = #{duration,jdbcType=NVARCHAR},
      TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      Major = #{major,jdbcType=NVARCHAR},
      InForm = #{inform,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecruitEntryinfoEducation">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="BaseID" jdbcType="INTEGER" property="baseid" />
    <result column="Duration" jdbcType="NVARCHAR" property="duration" />
    <result column="TrainingAgency" jdbcType="NVARCHAR" property="trainingagency" />
    <result column="Major" jdbcType="NVARCHAR" property="major" />
    <result column="InForm" jdbcType="NVARCHAR" property="inform" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BaseID, Duration, TrainingAgency, Major, InForm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recruit_entryInfo_education
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education (ID, BaseID, Duration, 
      TrainingAgency, Major, InForm
      )
    values (#{id,jdbcType=INTEGER}, #{baseid,jdbcType=INTEGER}, #{duration,jdbcType=NVARCHAR}, 
      #{trainingagency,jdbcType=NVARCHAR}, #{major,jdbcType=NVARCHAR}, #{inform,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    insert into HR_Recruit_entryInfo_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="baseid != null">
        BaseID,
      </if>
      <if test="duration != null">
        Duration,
      </if>
      <if test="trainingagency != null">
        TrainingAgency,
      </if>
      <if test="major != null">
        Major,
      </if>
      <if test="inform != null">
        InForm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        #{inform,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    <set>
      <if test="baseid != null">
        BaseID = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        Duration = #{duration,jdbcType=NVARCHAR},
      </if>
      <if test="trainingagency != null">
        TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      </if>
      <if test="major != null">
        Major = #{major,jdbcType=NVARCHAR},
      </if>
      <if test="inform != null">
        InForm = #{inform,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecruitEntryinfoEducation">
    update HR_Recruit_entryInfo_education
    set BaseID = #{baseid,jdbcType=INTEGER},
      Duration = #{duration,jdbcType=NVARCHAR},
      TrainingAgency = #{trainingagency,jdbcType=NVARCHAR},
      Major = #{major,jdbcType=NVARCHAR},
      InForm = #{inform,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>