<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrRecuritPlanReturnMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlanReturn">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Plan_id" jdbcType="NVARCHAR" property="planId" />
    <result column="Return_Man" jdbcType="NVARCHAR" property="returnMan" />
    <result column="Return_Time" jdbcType="INTEGER" property="returnTime" />
    <result column="Return_Mess" jdbcType="NVARCHAR" property="returnMess" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Plan_id, Return_Man, Return_Time, Return_Mess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return (ID, Plan_id, Return_Man, 
      Return_Time, Return_Mess)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=NVARCHAR}, #{returnMan,jdbcType=NVARCHAR}, 
      #{returnTime,jdbcType=INTEGER}, #{returnMess,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        Plan_id,
      </if>
      <if test="returnMan != null">
        Return_Man,
      </if>
      <if test="returnTime != null">
        Return_Time,
      </if>
      <if test="returnMess != null">
        Return_Mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        #{returnMess,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    <set>
      <if test="planId != null">
        Plan_id = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        Return_Man = #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        Return_Time = #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        Return_Mess = #{returnMess,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    set Plan_id = #{planId,jdbcType=NVARCHAR},
      Return_Man = #{returnMan,jdbcType=NVARCHAR},
      Return_Time = #{returnTime,jdbcType=INTEGER},
      Return_Mess = #{returnMess,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlanReturn">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Plan_id" jdbcType="NVARCHAR" property="planId" />
    <result column="Return_Man" jdbcType="NVARCHAR" property="returnMan" />
    <result column="Return_Time" jdbcType="INTEGER" property="returnTime" />
    <result column="Return_Mess" jdbcType="NVARCHAR" property="returnMess" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Plan_id, Return_Man, Return_Time, Return_Mess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return (ID, Plan_id, Return_Man, 
      Return_Time, Return_Mess)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=NVARCHAR}, #{returnMan,jdbcType=NVARCHAR}, 
      #{returnTime,jdbcType=INTEGER}, #{returnMess,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        Plan_id,
      </if>
      <if test="returnMan != null">
        Return_Man,
      </if>
      <if test="returnTime != null">
        Return_Time,
      </if>
      <if test="returnMess != null">
        Return_Mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        #{returnMess,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    <set>
      <if test="planId != null">
        Plan_id = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        Return_Man = #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        Return_Time = #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        Return_Mess = #{returnMess,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    set Plan_id = #{planId,jdbcType=NVARCHAR},
      Return_Man = #{returnMan,jdbcType=NVARCHAR},
      Return_Time = #{returnTime,jdbcType=INTEGER},
      Return_Mess = #{returnMess,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlanReturn">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Plan_id" jdbcType="NVARCHAR" property="planId" />
    <result column="Return_Man" jdbcType="NVARCHAR" property="returnMan" />
    <result column="Return_Time" jdbcType="INTEGER" property="returnTime" />
    <result column="Return_Mess" jdbcType="NVARCHAR" property="returnMess" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Plan_id, Return_Man, Return_Time, Return_Mess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return (ID, Plan_id, Return_Man, 
      Return_Time, Return_Mess)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=NVARCHAR}, #{returnMan,jdbcType=NVARCHAR}, 
      #{returnTime,jdbcType=INTEGER}, #{returnMess,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        Plan_id,
      </if>
      <if test="returnMan != null">
        Return_Man,
      </if>
      <if test="returnTime != null">
        Return_Time,
      </if>
      <if test="returnMess != null">
        Return_Mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        #{returnMess,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    <set>
      <if test="planId != null">
        Plan_id = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        Return_Man = #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        Return_Time = #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        Return_Mess = #{returnMess,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    set Plan_id = #{planId,jdbcType=NVARCHAR},
      Return_Man = #{returnMan,jdbcType=NVARCHAR},
      Return_Time = #{returnTime,jdbcType=INTEGER},
      Return_Mess = #{returnMess,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlanReturn">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Plan_id" jdbcType="NVARCHAR" property="planId" />
    <result column="Return_Man" jdbcType="NVARCHAR" property="returnMan" />
    <result column="Return_Time" jdbcType="INTEGER" property="returnTime" />
    <result column="Return_Mess" jdbcType="NVARCHAR" property="returnMess" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Plan_id, Return_Man, Return_Time, Return_Mess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return (ID, Plan_id, Return_Man, 
      Return_Time, Return_Mess)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=NVARCHAR}, #{returnMan,jdbcType=NVARCHAR}, 
      #{returnTime,jdbcType=INTEGER}, #{returnMess,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        Plan_id,
      </if>
      <if test="returnMan != null">
        Return_Man,
      </if>
      <if test="returnTime != null">
        Return_Time,
      </if>
      <if test="returnMess != null">
        Return_Mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        #{returnMess,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    <set>
      <if test="planId != null">
        Plan_id = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        Return_Man = #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        Return_Time = #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        Return_Mess = #{returnMess,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    set Plan_id = #{planId,jdbcType=NVARCHAR},
      Return_Man = #{returnMan,jdbcType=NVARCHAR},
      Return_Time = #{returnTime,jdbcType=INTEGER},
      Return_Mess = #{returnMess,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlanReturn">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Plan_id" jdbcType="NVARCHAR" property="planId" />
    <result column="Return_Man" jdbcType="NVARCHAR" property="returnMan" />
    <result column="Return_Time" jdbcType="INTEGER" property="returnTime" />
    <result column="Return_Mess" jdbcType="NVARCHAR" property="returnMess" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Plan_id, Return_Man, Return_Time, Return_Mess
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan_Return
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return (ID, Plan_id, Return_Man, 
      Return_Time, Return_Mess)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=NVARCHAR}, #{returnMan,jdbcType=NVARCHAR}, 
      #{returnTime,jdbcType=INTEGER}, #{returnMess,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    insert into HR_Recurit_Plan_Return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="planId != null">
        Plan_id,
      </if>
      <if test="returnMan != null">
        Return_Man,
      </if>
      <if test="returnTime != null">
        Return_Time,
      </if>
      <if test="returnMess != null">
        Return_Mess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        #{returnMess,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    <set>
      <if test="planId != null">
        Plan_id = #{planId,jdbcType=NVARCHAR},
      </if>
      <if test="returnMan != null">
        Return_Man = #{returnMan,jdbcType=NVARCHAR},
      </if>
      <if test="returnTime != null">
        Return_Time = #{returnTime,jdbcType=INTEGER},
      </if>
      <if test="returnMess != null">
        Return_Mess = #{returnMess,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlanReturn">
    update HR_Recurit_Plan_Return
    set Plan_id = #{planId,jdbcType=NVARCHAR},
      Return_Man = #{returnMan,jdbcType=NVARCHAR},
      Return_Time = #{returnTime,jdbcType=INTEGER},
      Return_Mess = #{returnMess,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>