<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.HrRecuritPlanMapper">
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlan">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Years" jdbcType="NVARCHAR" property="years" />
    <result column="Plan_Name" jdbcType="NVARCHAR" property="planName" />
    <result column="IsReport" jdbcType="INTEGER" property="isreport" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="affixFile" jdbcType="NVARCHAR" property="affixfile" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="SubmitMan" jdbcType="NVARCHAR" property="submitman" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Years, Plan_Name, IsReport, StartTime, EndTime, affixFile, SubmitTime, SubmitMan
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan (ID, Years, Plan_Name, 
      IsReport, StartTime, EndTime, 
      affixFile, SubmitTime, SubmitMan
      )
    values (#{id,jdbcType=INTEGER}, #{years,jdbcType=NVARCHAR}, #{planName,jdbcType=NVARCHAR}, 
      #{isreport,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{affixfile,jdbcType=NVARCHAR}, #{submittime,jdbcType=TIMESTAMP}, #{submitman,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="years != null">
        Years,
      </if>
      <if test="planName != null">
        Plan_Name,
      </if>
      <if test="isreport != null">
        IsReport,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="affixfile != null">
        affixFile,
      </if>
      <if test="submittime != null">
        SubmitTime,
      </if>
      <if test="submitman != null">
        SubmitMan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="years != null">
        #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        #{submitman,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    <set>
      <if test="years != null">
        Years = #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        Plan_Name = #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        IsReport = #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        affixFile = #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        SubmitMan = #{submitman,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    set Years = #{years,jdbcType=NVARCHAR},
      Plan_Name = #{planName,jdbcType=NVARCHAR},
      IsReport = #{isreport,jdbcType=INTEGER},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      affixFile = #{affixfile,jdbcType=NVARCHAR},
      SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      SubmitMan = #{submitman,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlan">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Years" jdbcType="NVARCHAR" property="years" />
    <result column="Plan_Name" jdbcType="NVARCHAR" property="planName" />
    <result column="IsReport" jdbcType="INTEGER" property="isreport" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="affixFile" jdbcType="NVARCHAR" property="affixfile" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="SubmitMan" jdbcType="NVARCHAR" property="submitman" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Years, Plan_Name, IsReport, StartTime, EndTime, affixFile, SubmitTime, SubmitMan
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan (ID, Years, Plan_Name, 
      IsReport, StartTime, EndTime, 
      affixFile, SubmitTime, SubmitMan
      )
    values (#{id,jdbcType=INTEGER}, #{years,jdbcType=NVARCHAR}, #{planName,jdbcType=NVARCHAR}, 
      #{isreport,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{affixfile,jdbcType=NVARCHAR}, #{submittime,jdbcType=TIMESTAMP}, #{submitman,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="years != null">
        Years,
      </if>
      <if test="planName != null">
        Plan_Name,
      </if>
      <if test="isreport != null">
        IsReport,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="affixfile != null">
        affixFile,
      </if>
      <if test="submittime != null">
        SubmitTime,
      </if>
      <if test="submitman != null">
        SubmitMan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="years != null">
        #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        #{submitman,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    <set>
      <if test="years != null">
        Years = #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        Plan_Name = #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        IsReport = #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        affixFile = #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        SubmitMan = #{submitman,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    set Years = #{years,jdbcType=NVARCHAR},
      Plan_Name = #{planName,jdbcType=NVARCHAR},
      IsReport = #{isreport,jdbcType=INTEGER},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      affixFile = #{affixfile,jdbcType=NVARCHAR},
      SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      SubmitMan = #{submitman,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.generator.model.HrRecuritPlan">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Years" jdbcType="NVARCHAR" property="years" />
    <result column="Plan_Name" jdbcType="NVARCHAR" property="planName" />
    <result column="IsReport" jdbcType="INTEGER" property="isreport" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="affixFile" jdbcType="NVARCHAR" property="affixfile" />
    <result column="SubmitTime" jdbcType="TIMESTAMP" property="submittime" />
    <result column="SubmitMan" jdbcType="NVARCHAR" property="submitman" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, Years, Plan_Name, IsReport, StartTime, EndTime, affixFile, SubmitTime, SubmitMan
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from HR_Recurit_Plan
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan (ID, Years, Plan_Name, 
      IsReport, StartTime, EndTime, 
      affixFile, SubmitTime, SubmitMan
      )
    values (#{id,jdbcType=INTEGER}, #{years,jdbcType=NVARCHAR}, #{planName,jdbcType=NVARCHAR}, 
      #{isreport,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{affixfile,jdbcType=NVARCHAR}, #{submittime,jdbcType=TIMESTAMP}, #{submitman,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.generator.model.HrRecuritPlan">
    insert into HR_Recurit_Plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="years != null">
        Years,
      </if>
      <if test="planName != null">
        Plan_Name,
      </if>
      <if test="isreport != null">
        IsReport,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="affixfile != null">
        affixFile,
      </if>
      <if test="submittime != null">
        SubmitTime,
      </if>
      <if test="submitman != null">
        SubmitMan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="years != null">
        #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        #{submitman,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    <set>
      <if test="years != null">
        Years = #{years,jdbcType=NVARCHAR},
      </if>
      <if test="planName != null">
        Plan_Name = #{planName,jdbcType=NVARCHAR},
      </if>
      <if test="isreport != null">
        IsReport = #{isreport,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="affixfile != null">
        affixFile = #{affixfile,jdbcType=NVARCHAR},
      </if>
      <if test="submittime != null">
        SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitman != null">
        SubmitMan = #{submitman,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generator.model.HrRecuritPlan">
    update HR_Recurit_Plan
    set Years = #{years,jdbcType=NVARCHAR},
      Plan_Name = #{planName,jdbcType=NVARCHAR},
      IsReport = #{isreport,jdbcType=INTEGER},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      affixFile = #{affixfile,jdbcType=NVARCHAR},
      SubmitTime = #{submittime,jdbcType=TIMESTAMP},
      SubmitMan = #{submitman,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>